html {
  scroll-behavior: smooth;
  .container {
    width: 1140px;
    margin: 0 auto;
  }
  hr {
    background: #fff;
    margin: 0;
  }
}

body {
  font-family: Roboto;
  font-style: normal;
}
body::-webkit-scrollbar {
  width: 5px;
  background: linear-gradient(#012d63, #012d63);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(#8e32c6, purple, #8e32c6);
}
