.adventures {
  background-image: url(../../img/Background2.png);

  background-repeat: no-repeat;
  background-size: cover;
  padding: 105px 165px;
}
.adventures_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  border: 3px solid #8e32c6;
  margin: 0;
  padding: 0;
  height: 396px;
  align-items: center;
}

.adventures_title {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.adventures_item {
  flex-direction: column;
  border-right: 1px solid #ffffff;
  display: flex;
  height: 346px;
  padding: 0 50px;
  box-sizing: border-box;
}
.adventures_item:nth-child(2) {
  flex-direction: column-reverse;
}
.adventures_item:last-child {
  border-right: none;
}
