.comments {
  background-image: url(/img/Background3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.comments_bg {
  background-image: url(/img/flowers.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 340px;
  height: 380px;
}
.item-box_element {
  object-fit: cover;
}
