.comments {
  background-image: url(../../img/Background3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.comments_bg {
  background-image: url(../../img/flowers.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 25px 0 115px;
}
.item-box_element {
  object-fit: cover;
}
.comments_title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.comments_description {
  color: #fff;
  font-size: 24px;
  margin: 49px 14px 0 13px;

  font-weight: 400;
  line-height: normal;
}
.comments_date {
  color: #d8d8d8;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;

  margin: 8px 0 0 13px;
}
.comments_list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  gap: 93px;
}
.comments_item:nth-child(1) {
  border-radius: 15px;
  background: linear-gradient(
    135deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
}
.comments_item:nth-child(2) {
  border-radius: 15px;
  background: linear-gradient(
    135deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
}
.comments_item:nth-child(3) {
  border-radius: 15px;
  background: linear-gradient(
    135deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
}
.comments_item-box h4,
h5 {
  margin: 0;
  display: flex;
}
.comments_item-box h4 {
  color: #fff;
  font-size: 14px;

  font-weight: 400;
  line-height: normal;
}
.comments_item-box h5 {
  color: #d8d8d8;
  font-size: 12px;

  font-weight: 400;
  line-height: normal;
}
.comments_item-box {
  display: flex;
  justify-content: flex-start;
  margin: 47px 0 29px 18px;
}
.comments_item {
  width: 255px;
}
.item-box_element img {
  margin-right: 5px;
}
.item-box_elements {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
