.footer {
  background: #021635;
}
.footer hr {
  height: 1px;
  background: #9b9b9b;
}
.footer_inf {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.footer_h4 {
  color: #fff;
  font-size: 24px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin: 0 auto;
}
.footer_cell {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer_mail {
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.footer_mail a {
  color: #fff;
}
.footer_block {
  padding-top: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer_icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer_underline {
  display: flex;
  justify-content: space-between;
  padding-bottom: 37px;
}
.footer_table {
  padding-bottom: 20px;
}
.footer_text {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-top: 24px;
}
.footer_table-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
