header {
  background: #012d63;
  padding: 16px 14px;
}
.header_block {
  display: flex;
  justify-content: space-between;
}
.nav_list {
  display: flex;
  list-style-type: none;
  gap: 29px;
}

.nav_list a {
  color: #c7c7c7;
  font-size: 24px;

  font-weight: 300;
  line-height: normal;

  text-decoration: none;
}
.nav_list a:hover {
  color: #fff;
  font-size: 24px;

  font-weight: 400;
  line-height: normal;
}
.header_language a {
  color: #dcdcdc;
  font-size: 24px;

  font-weight: 300;
  line-height: normal;
  text-decoration: none;
}
.header_language {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 73px;
  gap: 15px;
}

.header_language a:hover {
  color: #ffffff;
  font-size: 24px;

  font-weight: 300;
  line-height: normal;
}
.nav_list {
  transition: ease-in-out;
  perspective-origin: 30px;
}
.nav_list :hover {
  transform: scale(0.9);
}
.header_language {
  transition: ease-in-out;
  perspective-origin: 30px;
}
.header_language a:hover {
  transform: scale(0.9);
  font-weight: 400;
}
