.order {
  background-image: url(../../img/Background4.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 37px;
}
.order_title {
  color: #fff;
  font-size: 48px;
  font-family: Playfair Display;
  padding: 20px 33px;

  font-weight: 400;
  line-height: normal;
  margin: 0;
  display: flex;
  justify-content: center;
}
.order_text {
  border-radius: 50px;
  background: #fff;
  border: none;
  color: #959595;

  font-weight: 400;
  line-height: normal;
  width: 580px;
  height: 50px;
}
.order_email {
  border-radius: 50px;
  background: #fff;
  border: none;
  color: #959595;
  font-size: 24px;

  font-weight: 400;
  line-height: normal;
  width: 690px;
  height: 60px;
}
.order_btn {
  color: #fff;
  font-size: 24px;

  font-weight: 400;
  line-height: normal;
  border-radius: 16px;
  background: #8e32c6;

  width: 248px;
  height: 68px;
  border: none;
}
.input_btn {
  color: #8d8d8d;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}

.order_email {
  width: 690px;
  height: 60px;
  border-radius: 50px;
  background: #fff;
  padding: 13px 78px 13px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order_form input {
  border-radius: 50px;
  background: #fff;
  border: none;
  outline: none;
  padding: 11px 0 11px 25px;
}
.order_form input[type="button"] {
  cursor: pointer;
}
.order_btn {
  display: block;
  margin: 0 auto;
}
.order_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  padding-bottom: 19px;
}
