.promo {
  background: url(../../img/Background1.png) 50% center/cover no-repeat;
  padding: 94px 0 183px 0;
}
.promo_h2 {
  color: #fff;
  font-size: 48px;
  font-family: PT Serif;

  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.promo_title {
  color: #fff;
  font-size: 144px;
  font-family: Playfair Display;

  font-weight: 400;
  line-height: normal;
}
.promo_h3 {
  color: #fff;
  font-size: 72px;
  font-family: Playfair Display;

  font-weight: 400;
  line-height: normal;
}
.promo_description {
  color: #fff;
  font-size: 18px;

  font-weight: 400;
  line-height: normal;
}
.promo_btn {
  color: #fff;

  font-weight: 400;
  line-height: normal;
}
.promo_btn {
  border-radius: 10px;
  background: #8e32c6;
  width: 254px;
  height: 67px;
  border: none;
}
.promo_logo {
  display: list-item;
}

.promo_title {
  margin: 0;
}

.promo_block h3,
p {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
}
